web/WEB-INF/wsdl/localhost_8080/MlvCarsService/MlvCarsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.mlvCars.upem.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MlvCarsService" targetNamespace="http://services.mlvCars.upem.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.mlvCars.upem.com/" targetNamespace="http://services.mlvCars.upem.com/" version="1.0">

  <xs:element name="addVehicle" type="tns:addVehicle"/>

  <xs:element name="buyCar" type="tns:buyCar"/>

  <xs:element name="buyCarResponse" type="tns:buyCarResponse"/>

  <xs:element name="deleteVehicle" type="tns:deleteVehicle"/>

  <xs:element name="getAllVehicles" type="tns:getAllVehicles"/>

  <xs:element name="getAllVehiclesResponse" type="tns:getAllVehiclesResponse"/>

  <xs:element name="getCarByBrand" type="tns:getCarByBrand"/>

  <xs:element name="getCarByBrandResponse" type="tns:getCarByBrandResponse"/>

  <xs:element name="getCarByID" type="tns:getCarByID"/>

  <xs:element name="getCarByIDResponse" type="tns:getCarByIDResponse"/>

  <xs:element name="getCarByModel" type="tns:getCarByModel"/>

  <xs:element name="getCarByModelResponse" type="tns:getCarByModelResponse"/>

  <xs:element name="getVehicleByID" type="tns:getVehicleByID"/>

  <xs:element name="getVehicleByIDResponse" type="tns:getVehicleByIDResponse"/>

  <xs:element name="getVehicleByMaxPassengers" type="tns:getVehicleByMaxPassengers"/>

  <xs:element name="getVehicleByMaxPassengersResponse" type="tns:getVehicleByMaxPassengersResponse"/>

  <xs:element name="isVehicleOnSale" type="tns:isVehicleOnSale"/>

  <xs:element name="isVehicleOnSaleResponse" type="tns:isVehicleOnSaleResponse"/>

  <xs:element name="updateVehicle" type="tns:updateVehicle"/>

  <xs:element name="validateCarPurchase" type="tns:validateCarPurchase"/>

  <xs:element name="validateCarPurchaseResponse" type="tns:validateCarPurchaseResponse"/>

  <xs:complexType name="getVehicleByID">
    <xs:sequence>
      <xs:element name="student_id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVehicleByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:vehicle"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType abstract="true" name="vehicle">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="maxPassengers" type="xs:int"/>
      <xs:element name="maxSpeed" type="xs:int"/>
      <xs:element name="price" type="xs:int"/>
      <xs:element name="rentalPriceForDay" type="xs:int"/>
      <xs:element name="sold" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="student" type="tns:vehicle"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buyCar">
    <xs:sequence>
      <xs:element name="userID" type="xs:int"/>
      <xs:element name="vehicleID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buyCarResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="addVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="v" type="tns:vehicle"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVehicleByMaxPassengers">
    <xs:sequence>
      <xs:element name="mp" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVehicleByMaxPassengersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:vehicle"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCarByBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCarByBrandResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:car"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="car">
    <xs:complexContent>
      <xs:extension base="tns:vehicle">
        <xs:sequence>
          <xs:element name="airConditioner" type="xs:boolean"/>
          <xs:element name="automaticTransmission" type="xs:boolean"/>
          <xs:element minOccurs="0" name="brand" type="xs:string"/>
          <xs:element minOccurs="0" name="model" type="xs:string"/>
          <xs:element minOccurs="0" name="purchaseDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="type" type="tns:carType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="updateVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="v" type="tns:vehicle"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isVehicleOnSale">
    <xs:sequence>
      <xs:element name="vehicleID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isVehicleOnSaleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCarByModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="model" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCarByModelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:car"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCarByID">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCarByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:car"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAllVehicles">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllVehiclesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:vehicle"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateCarPurchase">
    <xs:sequence>
      <xs:element name="userID" type="xs:int"/>
      <xs:element name="vehicleID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateCarPurchaseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="carType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SEDAN"/>
      <xs:enumeration value="COUPE"/>
      <xs:enumeration value="CONVERTIBLE"/>
      <xs:enumeration value="MINIVAN"/>
      <xs:enumeration value="SUV"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getVehicleByID">
    <wsdl:part element="tns:getVehicleByID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVehicle">
    <wsdl:part element="tns:deleteVehicle" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buyCar">
    <wsdl:part element="tns:buyCar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addVehicle">
    <wsdl:part element="tns:addVehicle" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVehicleByIDResponse">
    <wsdl:part element="tns:getVehicleByIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllVehiclesResponse">
    <wsdl:part element="tns:getAllVehiclesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarByIDResponse">
    <wsdl:part element="tns:getCarByIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isVehicleOnSaleResponse">
    <wsdl:part element="tns:isVehicleOnSaleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCarPurchaseResponse">
    <wsdl:part element="tns:validateCarPurchaseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVehicleByMaxPassengers">
    <wsdl:part element="tns:getVehicleByMaxPassengers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVehicleByMaxPassengersResponse">
    <wsdl:part element="tns:getVehicleByMaxPassengersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarByBrand">
    <wsdl:part element="tns:getCarByBrand" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateVehicle">
    <wsdl:part element="tns:updateVehicle" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarByModelResponse">
    <wsdl:part element="tns:getCarByModelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isVehicleOnSale">
    <wsdl:part element="tns:isVehicleOnSale" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buyCarResponse">
    <wsdl:part element="tns:buyCarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarByModel">
    <wsdl:part element="tns:getCarByModel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarByBrandResponse">
    <wsdl:part element="tns:getCarByBrandResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarByID">
    <wsdl:part element="tns:getCarByID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllVehicles">
    <wsdl:part element="tns:getAllVehicles" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCarPurchase">
    <wsdl:part element="tns:validateCarPurchase" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MlvCarsService">
    <wsdl:operation name="getVehicleByID">
      <wsdl:input message="tns:getVehicleByID" name="getVehicleByID">
    </wsdl:input>
      <wsdl:output message="tns:getVehicleByIDResponse" name="getVehicleByIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVehicle">
      <wsdl:input message="tns:deleteVehicle" name="deleteVehicle">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="buyCar">
      <wsdl:input message="tns:buyCar" name="buyCar">
    </wsdl:input>
      <wsdl:output message="tns:buyCarResponse" name="buyCarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addVehicle">
      <wsdl:input message="tns:addVehicle" name="addVehicle">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getVehicleByMaxPassengers">
      <wsdl:input message="tns:getVehicleByMaxPassengers" name="getVehicleByMaxPassengers">
    </wsdl:input>
      <wsdl:output message="tns:getVehicleByMaxPassengersResponse" name="getVehicleByMaxPassengersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarByBrand">
      <wsdl:input message="tns:getCarByBrand" name="getCarByBrand">
    </wsdl:input>
      <wsdl:output message="tns:getCarByBrandResponse" name="getCarByBrandResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVehicle">
      <wsdl:input message="tns:updateVehicle" name="updateVehicle">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="isVehicleOnSale">
      <wsdl:input message="tns:isVehicleOnSale" name="isVehicleOnSale">
    </wsdl:input>
      <wsdl:output message="tns:isVehicleOnSaleResponse" name="isVehicleOnSaleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarByModel">
      <wsdl:input message="tns:getCarByModel" name="getCarByModel">
    </wsdl:input>
      <wsdl:output message="tns:getCarByModelResponse" name="getCarByModelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarByID">
      <wsdl:input message="tns:getCarByID" name="getCarByID">
    </wsdl:input>
      <wsdl:output message="tns:getCarByIDResponse" name="getCarByIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVehicles">
      <wsdl:input message="tns:getAllVehicles" name="getAllVehicles">
    </wsdl:input>
      <wsdl:output message="tns:getAllVehiclesResponse" name="getAllVehiclesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCarPurchase">
      <wsdl:input message="tns:validateCarPurchase" name="validateCarPurchase">
    </wsdl:input>
      <wsdl:output message="tns:validateCarPurchaseResponse" name="validateCarPurchaseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MlvCarsServiceSoapBinding" type="tns:MlvCarsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVehicleByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVehicleByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVehicleByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVehicle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteVehicle">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="buyCar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buyCar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buyCarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addVehicle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addVehicle">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getVehicleByMaxPassengers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVehicleByMaxPassengers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVehicleByMaxPassengersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarByBrand">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCarByBrand">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCarByBrandResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVehicle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateVehicle">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="isVehicleOnSale">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isVehicleOnSale">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isVehicleOnSaleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarByModel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCarByModel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCarByModelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarByID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCarByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCarByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVehicles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllVehicles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllVehiclesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCarPurchase">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateCarPurchase">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateCarPurchaseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MlvCarsService">
    <wsdl:port binding="tns:MlvCarsServiceSoapBinding" name="MlvCarsServicePort">
      <soap:address location="http://localhost:8080/MlvCarsService/MlvCarsService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>